<body>
    <div class="content">
        <mat-card class="example-card padding-all">

            <img mat-card-image src="../assets/signup.jpg">
            <mat-card-content>
                <div class="container content">
                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
                        <div class="form-group">
                            <p>
                                <mat-form-field appearance="outline">
                                    <mat-label>Phone Number</mat-label>
                                    <input matInput placeholder="Number" formControlName="mobile">
                                    <mat-icon matSuffix>call</mat-icon>
                                </mat-form-field>
                            </p>
                            <div class="content">
                                <button mat-raised-button color="primary">Generate OTP</button>
                            </div>
                        </div>
                    </form>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</body>